{% extends 'base.html.twig' %}

{% block content %}
    <center>
        <h1>Modifier Reclamation</h1>
    </center>
    {% form_theme form_modifier 'bootstrap_4_horizontal_layout.html.twig' %}
    {{ form_start(form_modifier) }}
    <input type="hidden" {{ form_widget(form_modifier.sujet) }}
    <input type="hidden" {{ form_widget(form_modifier.contenu) }}
    <input type="hidden" {{ form_widget(form_modifier.etat) }}


    {{ form_end(form_modifier) }}
{% endblock %}
