{% extends 'base.html.twig' %}
{% block content %}


    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header"><center>
                            <h3 class="box-title">Liste des Catalogues</h3></center>
                    </div><!-- /.box-header -->
                    <aside class="s_widget search_widget">
                        <div class="input-group">
                            <form type="POST">
                                <input type="text" name="title" id="title" class="form-control border-top-0 border-left-0 border-right-0 rounded-0 pl-4" placeholder="What are you looking for?">
                            </form>                                            <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span></div></aside><br>

                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>

                                <td>Nom Produit</td>
                                <td>Date Debut</td>
                                <td>Date Fin</td>
                                <td>Saison</td>
                                <td> </td>
                                <td> </td>
                            </tr>
                            </thead>

                            <tbody>
                            {%  for entity in Catalogue %}
                                <tr>

                                    <td>{{ entity.nom}}</td>
                                    <td>{{ entity.datedebut|date }} </td>
                                    <td>{{ entity.datefin|date}} </td>
                                    <td>{{ entity.saison }}</td>
                                    <td><a href="{{ path('modifierCatalogue',{'idcatalogue': entity.idcatalogue}) }}" class="btn btn-success">Modifier</a></td>
                                    <td><a href="{{ path('supprimerCatalogue',{'idcatalogue':entity.idcatalogue}) }}" class="btn btn-danger">Supprimer</a></td>

                                </tr>

                            {% else %}
                                <h1>Table is empty</h1>
                            {%  endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="row no-print">
            <a href="{{ path('ajouterCatalogue') }}" class="btn btn-blue" >Ajouter Catalogue</a>

            <p> </p>
            <div class="col-xs-12">
                <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>

            </div>
        </div>

    </section>
    <script src="{{ asset('scripts/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('scripts/M.js') }}"></script>

{% endblock %}

