{% extends 'base.html.twig' %}
{% block content %}


    <section class="content">
        <div class="row">
            <div class="col-xs-12">
                <div class="box">
                    <div class="box-header"><center>
                            <h3 class="box-title">Liste des Reclamations</h3></center>
                    </div><!-- /.box-header -->
                    <div class="box-body table-responsive">
                        <table id="example2" class="table table-bordered table-hover">
                            <thead>
                            <tr>
                                <td>Nom Produit</td>
                                <td>Sujet</td>
                                <td>Contenu</td>
                                <td>commentaire</td>

                                <td>Supprimer</td>
                            </tr>
                            </thead>

                            <tbody>
                            {%  for entity in Reclamation %}
                                <tr>
                                    <td>{{ entity.nomproduit }}</td>
                                    <td>{{ entity.sujet }}</td>
                                    <td>{{ entity.contenu }}</td>
                                    <td>{{ entity.commentaire }}</td>
                                    <td><a href="{{ path('SupprimerReclamation',{'idreclamation': entity.idreclamation}) }}" class="btn btn-danger">Supprimer</a></td>

                                </tr>


                            {% else %}
                                <h1>Table is empty</h1>
                            {%  endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
        <div class="row no-print">
            <div class="col-xs-12">
                <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</button>

            </div>
        </div>
    </section>


{% endblock %}

