{% for entity in Produit %}
{{ entity.idproduit }}
{{ entity.nomproduit }}
{{ entity.prix }}
{{ entity.quantite }}
{{ entity.note }}
{{ entity.description }}
    <a href="{{ path('shopdetails',{'idproduit': entity.idproduit}) }}" >details</a>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('notice') %}

    <div class="alert alert-danger">
        {{ flashMessage }}
    </div>

{% endfor %}
